<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <form class="mx-auto w-75" action="employe" method="POST">
        <label for="">Matricule</label>
        <input class="form-control" type="text" name="idEmploye" disabled="true">
        <label for="">Nom</label>
        <input class="form-control" type="text" name="nameEmploye">
        <label for="">Salaire</label>
        <input class="form-control" type="number" name="payEmploye">
        <input class="btn btn-success" type="submit" value="ADD">
    </form>

<div>
    

</div>
</body>

</html>